::-webkit-scrollbar-track {
  background: var(--color-secondary-light);
  border: solid 1px var(--color-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
/**************************/
/*  bread-crumbs for all pages */
/**************************/
.bread-crumbs {
  margin-top: 1rem;
  /* align-items: flex-start; */
  margin-left: auto;
  margin-right: 0;
}
.bread-crumbs a {
  background: var(--color-primary-light);
  color: var(--color-white);
  padding: 1rem;
  position: relative;
  transition: all 0.3s;
}
.bread-crumbs a:hover {
  color: var(--color-secondary-light);
  cursor: pointer;
}

.bread-crumbs a::after {
  content: "--";
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s;
}

.bread-crumbs a:last-of-type::after {
  display: none;
}

.bread-crumbs a:hover::after {
  color: var(--color-white);
}
/**************************/
/* dataContainer */
/**************************/
#dataContainer {
  padding-top: 2rem;
}
#dataContainer {
  flex-wrap: wrap;
  gap: 2rem;
}
#dataContainer .card {
  width: 100%;
  max-width: 400px;
}
#pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#pageNumbers {
  padding: 0 20px;
  font-size: 1.2rem;
  color: var(--color-primary);
}
.active-page-number {
  background: var(--color-secondary-light);
  font-weight: bold;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
}

#prev,
#next {
  font-size: 1.2rem;
  color: var(--color-primary);
}

.div-raduis {
  border-radius: 1rem;
  border-top: solid 3px var(--color-secondary-light);
}
/**************************/
/* lesson page */
/**************************/
.lesson .title::before {
  width: 21rem;
}
.lesson-btn-container {
  gap: 1rem;
  margin: 2rem 0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: nowrap;
  position: relative;
}
.lesson-btn-container::-webkit-scrollbar {
  height: 8px;
}
.btn-icon {
  position: absolute;
  bottom: 5px;
  left: 20px;
  background: var(--color-secondary-light);
  border-radius: 5px;
  font-size: 1rem;
  animation: shake-horizontal 10s linear infinite both;
}
.lesson-btn-container .filter-btn {
  background: var(--color-white);
  font-size: 1.4rem;
  padding: 0.5rem;

  color: var(--color-primary-light);
  box-shadow: inset 0 0 0 0 var(--color-primary-light),
    0px 0px 9px 0px rgba(0, 0, 0, 0.3);
  border: solid 1px var(--color-secondary-light);
  transition: all 0.4s;
}
.lesson-btn-container .filter-btn:hover {
  box-shadow: inset 0 300px 0 0 var(--color-primary-light);
  color: var(--color-white);
}
/**************************/
/* voice-speech page */
/**************************/
.voice-speech {
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  padding: 3rem 4rem;
}
.voice-speech audio,
.voice-speech iframe {
  width: 100%;
}
.voice-speech iframe {
  min-height: 80vh;
}
.voice-speech audio {
  min-height: 50px;
}
.voice-speech .card-content-info p,
.written-speech .card-content-info p {
  font-size: 1.1rem;
}
.voice-speech .social .bi,
.written-speech .social .bi {
  background: var(--color-primary-light);
  color: var(--color-white);
  transition: all 0.3s;
}
.voice-speech .social .bi:hover,
.written-speech .social .bi:hover {
  color: var(--color-secondary-light);
}
.voice-speech-about {
  gap: 2rem;
  align-items: flex-start;
}
.voice-speech-about h4 {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background: var(--color-primary-light);
  color: var(--color-white);
  white-space: nowrap;
}
.voice-speech-about p {
  font-size: 1.1rem;

  line-height: 1.6;
  color: var(--color-primary);
  max-width: 900px;
}

/**************************/
/* --------speeches page */
/**************************/

.written-speeches .go-all {
  width: 220px;
}

.voice-speeches {
  max-width: 1200px;
  margin: 0 auto;
}
.voice-speeches .title {
  margin: 2rem 0 4rem 0;
}
.voice-speeches .title::before {
  width: 18rem;
}
.voice-speeches .go-all {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 220px;
}

/**************************/
/* --------written-speeches page */
/**************************/
.written-speeches #dataContainer {
  gap: 2rem;
}
.articles.written-speeches {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
.written-speeches-content {
  padding: 4rem 0 4rem 0;
}
.written-speeches-content > div {
  height: 280px;
  max-width: 450px;
  border: solid 1px var(--color-primary-light);
  padding: 1rem;
}
.written-speeches-content .articles-item:first-child {
  border-left: none;
  padding-left: 0;
}
.written-speeches-content .articles-items {
  margin: 0 0;
  /* gap: 0; */
}
.written-speeches-content .card-content-article {
  color: var(--color-primary);
}
/**************************/
/* -------written-speech page  */
/**************************/
.written-speech {
  padding-bottom: 2rem;
}
.written-speech h1 {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
}
.written-speech .voice-speech-about p {
  max-width: 1100px;
}
.written-speech .voice-speech-about {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-primary);
}
/**************************/
/* --------live-page */
/**************************/
.live-page {
  position: relative;
}
.live-page .title::before {
  width: 110%;
}
.live-page .live-content > p {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/**************************/
/* --------media queries for pages */
/**************************/
@media (max-width: 1100px) {
  .written-speeches-content > div {
    width: 350px;
  }
}
@media (max-width: 900px) {
  #dataContainer {
    /* flex-direction: column; */
    gap: 1.5rem;
  }
  #dataContainer .card {
    /* width: 100%; */
    max-width: 900px;
    height: 250px;
    margin: 0 1rem;
  }
  .voice-speech {
    padding: 3rem 2rem;
  }
  .voice-speech-about {
    flex-direction: column;
  }
  .bread-crumbs {
    background: var(--color-primary-light);
  }
  .voice-speech iframe {
    min-height: 60vh;
  }
}
@media (max-width: 704px) {
  .written-speeches .articles-item:first-child {
    border-left: solid 1px transparent;
    padding-left: 0;
    border-bottom: solid 1px transparent;
    padding-bottom: 0;
  }
  .speeches.written-speeches .articles-item:first-child {
    border-left: solid 1px transparent;
    padding-left: 0;
    border-bottom: solid 1px var(--color-primary);
    padding-bottom: 1.5rem;
  }

  .written-speeches .articles-item {
    gap: 1rem;
    width: 100%;
  }
  .written-speeches-content > div {
    width: 100%;
    height: 100%;
  }
  .bread-crumbs {
    /* flex-wrap: wrap; */
    font-size: 13px;
    font-weight: bold;
    text-align: center;
  }
  .lesson-btn-container {
    overflow: auto;
    width: 100%;
    height: 80px;
    display: block;
  }
  .lesson-btn-container button {
    margin: 0 5px;
  }
}
@media (max-width: 500px) {
  .lesson .title::before {
    width: 15rem;
  }
  .voice-speech-about {
    gap: 1rem;
  }
  .voice-speech {
    padding: 2rem 1rem;
  }
  .voice-speech iframe {
    min-height: 50vh;
  }
  .voice-speeches .go-all {
    margin: 3rem auto 2rem auto;
  }
  .voice-speeches .title::before {
    width: 13rem;
  }
  .voice-speech .card-content-info p,
  .written-speech .card-content-info p {
    font-size: 1rem;
  }
  .lesson-btn-container .filter-btn {
    font-size: 1.1rem;
  }
  .lesson-btn-container {
    margin: 1rem 0;
  }
  .lesson .title {
    margin-top: 1.5rem;
  }
}
