::-webkit-scrollbar-track {
  background: var(--color-secondary-light);
  border: solid 1px var(--color-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
/**************************/
/*  bread-crumbs for all pages */
/**************************/
.bread-crumbs {
  margin-top: 1rem;
  /* align-items: flex-start; */
  margin-left: auto;
  margin-right: 0;
}
.bread-crumbs a {
  background: var(--color-primary-light);
  color: var(--color-white);
  padding: 1rem;
  position: relative;
  transition: all 0.3s;
}
.bread-crumbs a:hover {
  color: var(--color-secondary-light);
  cursor: pointer;
}

.bread-crumbs a::after {
  content: "--";
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s;
}

.bread-crumbs a:last-of-type::after {
  display: none;
}

.bread-crumbs a:hover::after {
  color: var(--color-white);
}
/**************************/
/* dataContainer */
/**************************/
#dataContainer {
  padding-top: 2rem;
}
#dataContainer {
  flex-wrap: wrap;
  gap: 2rem;
}
#dataContainer .card {
  width: 100%;
  max-width: 400px;
}
#pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#pageNumbers {
  padding: 0 20px;
  font-size: 1.2rem;
  color: var(--color-primary);
}
.active-page-number {
  background: var(--color-secondary-light);
  font-weight: bold;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
}

#prev,
#next {
  font-size: 1.2rem;
  color: var(--color-primary);
}

.div-raduis {
  border-radius: 1rem;
  border-top: solid 3px var(--color-secondary-light);
}
/**************************/
/* lesson page */
/**************************/
.lesson .title::before {
  width: 21rem;
}
.lesson-btn-container {
  gap: 1rem;
  margin: 2rem 0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: nowrap;
  position: relative;
}
.lesson-btn-container::-webkit-scrollbar {
  height: 8px;
}
.btn-icon {
  position: absolute;
  bottom: 5px;
  left: 20px;
  background: var(--color-secondary-light);
  border-radius: 5px;
  font-size: 1rem;
  animation: shake-horizontal 10s linear infinite both;
  display: none;
}
.lesson-btn-container .filter-btn {
  background: var(--color-white);
  font-size: 1.4rem;
  padding: 0.5rem;

  color: var(--color-primary-light);
  box-shadow: inset 0 0 0 0 var(--color-primary-light),
    0px 0px 9px 0px rgba(0, 0, 0, 0.3);
  border: solid 1px var(--color-secondary-light);
  transition: all 0.4s;
}
.lesson-btn-container .filter-btn:hover {
  box-shadow: inset 0 300px 0 0 var(--color-primary-light);
  color: var(--color-white);
}
/**************************/
/* voice-speech page */
/**************************/
.voice-speech {
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  padding: 3rem 4rem;
}
.voice-speech audio,
.voice-speech iframe {
  width: 100%;
}
.voice-speech iframe {
  min-height: 80vh;
}
.voice-speech audio {
  min-height: 50px;
}
.voice-speech .card-content-info p,
.written-speech .card-content-info p {
  font-size: 1.1rem;
}
.voice-speech .social .bi,
.written-speech .social .bi {
  background: var(--color-primary-light);
  color: var(--color-white);
  transition: all 0.3s;
}
.voice-speech .social .bi:hover,
.written-speech .social .bi:hover {
  color: var(--color-secondary-light);
}
.voice-speech-about {
  gap: 2rem;
  align-items: flex-start;
}
.voice-speech-about h4 {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background: var(--color-primary-light);
  color: var(--color-white);
  white-space: nowrap;
}
.voice-speech-about p {
  font-size: 1.1rem;

  line-height: 1.6;
  color: var(--color-primary);
  max-width: 900px;
}

/**************************/
/* --------speeches page */
/**************************/

.written-speeches .go-all {
  width: 220px;
}

.voice-speeches {
  max-width: 1200px;
  margin: 0 auto;
}
.voice-speeches .title {
  margin: 2rem 0 4rem 0;
}
.voice-speeches .title::before {
  width: 18rem;
}
.voice-speeches .go-all {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 220px;
}

/**************************/
/* --------written-speeches page */
/**************************/
.written-speeches #dataContainer {
  gap: 2rem;
}
.articles.written-speeches {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
.written-speeches-content {
  padding: 4rem 0 4rem 0;
}
.written-speeches-content > div {
  height: 280px;
  max-width: 450px;
  border: solid 1px var(--color-primary-light);
  padding: 1rem;
}
/* .written-speeches-content .articles-item:first-child {
  border-left: none;
  padding-left: 0;
} */
.written-speeches-content .articles-items {
  margin: 0 0;
  /* gap: 0; */
}
.written-speeches-content .card-content-article {
  color: var(--color-primary);
}
/**************************/
/* -------written-speech page  */
/**************************/
.written-speech {
  padding-bottom: 2rem;
}
.written-speech h1 {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
}
.written-speech .voice-speech-about p {
  max-width: 1100px;
}
.written-speech .voice-speech-about {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-primary);
}
/**************************/
/* --------live-page */
/**************************/
.live-page {
  position: relative;
}
.live-page .title::before {
  width: 110%;
}
.live-page .live-content > p {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}
/**************************/
/* --------gallery-page */
/**************************/
.gallery-btns {
  width: 100%;
  gap: 2rem;
  margin-top: 3rem;
}
.gallery-btn {
  text-align: center;
  width: 10rem;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  color: var(--color-primary);
  box-shadow: inset 0 0 0 0 var(--color-secondary),
    0px 0px 9px 0px rgba(0, 0, 0, 0.3);
}
.gallery-btn.active {
  background: var(--color-secondary-light);
}
.gallery-btn:hover {
  box-shadow: inset 0 300px 0 0 var(--color-secondary-light),
    0px 0px 9px 0px rgba(0, 0, 0, 0.3);
}
.pdf-container,
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 1rem; */
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
}
.pdf-container {
  /* display: none; */
}
.gallery-pdf,
.gallery-item {
  flex-basis: 32.7%;
  margin-bottom: 6px;
  /* opacity: 0.85; */
  cursor: pointer;
  overflow: hidden;
}
.gallery-pdf:hover,
.gallery-item:hover {
  /* opacity: 1; */
}
.gallery-pdf img,
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.gallery-pdf img:hover,
.gallery-item img:hover {
  opacity: 0.85;
}
.gallery-content {
  font-size: 0.8em;
}
.gallery-pdf p {
  font-size: 1rem;
  background: var(--color-primary);
  color: var(--color-white);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.pdf-viewer {
  width: 100%;
  height: 100vh;
  border: none;
}
.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 1;
}
.lightbox-content {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(225, 225, 225, 0.25);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: var(--color-primary-light);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: 0.8;
}
.lightbox-share-btn {
  position: absolute;
  background-color: var(--color-primary-light);
  color: #fff;
  padding: 7px;
  bottom: -39px;
  font-size: 1.3rem;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
#pdf-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 1;
}
#pdf-viewer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: none;
  background-color: white;
}
#pdf-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: white;
  background: var(--color-secondary);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  cursor: pointer;
}
#pdf-share {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: white;
  background: var(--color-secondary);
  padding: 0.5rem;

  border-radius: 5px;
}

@media (max-width: 767px) {
  /* .pdf-container {
    gap: 1rem;
  } */
  .pdf-container,
  .gallery-container {
    width: 95%;
    padding: 3rem 0;
  }
  .gallery-pdf {
    /* .gallery-item { */
    flex-basis: 49.8%;
    margin-bottom: 3px;
  }
  .lightbox-content {
    width: 80%;
    height: 60%;
    margin: 15% auto;
  }
  .gallery-pdf img {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .pdf-container {
    gap: 1rem;
  }
  .gallery-pdf {
    /* .gallery-item { */
    flex-basis: 90%;
    margin: 0 auto;
    margin-bottom: 1px;
  }
  .lightbox-content {
    width: 90%;
    margin: 20% auto;
  }
  .gallery-btn {
    width: 100px;
  }
}
/**************************/
/* --------media queries for pages */
/**************************/
@media (max-width: 1100px) {
  .written-speeches-content > div {
    width: 350px;
  }
}
@media (max-width: 900px) {
  #dataContainer {
    /* flex-direction: column; */
    gap: 1.5rem;
  }
  #dataContainer .card {
    /* width: 100%; */
    max-width: 900px;
    height: 260px;
    margin: 0 1rem;
  }
  .voice-speech {
    padding: 3rem 2rem;
  }
  .voice-speech-about {
    flex-direction: column;
  }
  .bread-crumbs {
    background: var(--color-primary-light);
  }
  .voice-speech iframe {
    min-height: 60vh;
  }
}
@media (max-width: 704px) {
  .written-speeches .articles-item:first-child {
    border-left: solid 1px var(--color-primary);
    /*   padding-left: 0;
    border-bottom: solid 1px transparent;
    padding-bottom: 0; */
  }
  .speeches.written-speeches .articles-item:first-child {
    border-left: solid 1px transparent;
    padding-left: 0;
    border-bottom: solid 1px var(--color-primary);
    padding-bottom: 1.5rem;
  }

  .written-speeches .articles-item {
    gap: 1rem;
    width: 100%;
  }
  .written-speeches-content > div {
    width: 100%;
    height: 100%;
  }
  .bread-crumbs {
    /* flex-wrap: wrap; */
    font-size: 13px;
    font-weight: bold;
    text-align: center;
  }
  .lesson-btn-container {
    overflow: auto;
    width: 100%;
    height: 80px;
    display: block;
  }
  .lesson-btn-container button {
    margin: 0 5px;
  }
  .btn-icon {
    display: block;
  }
}
@media (max-width: 500px) {
  .lesson .title::before {
    width: 15rem;
  }
  .voice-speech-about {
    gap: 1rem;
  }
  .voice-speech {
    padding: 2rem 1rem;
  }
  .voice-speech iframe {
    min-height: 50vh;
  }
  .voice-speeches .go-all {
    margin: 3rem auto 2rem auto;
  }
  .voice-speeches .title::before {
    width: 13rem;
  }
  .voice-speech .card-content-info p,
  .written-speech .card-content-info p {
    font-size: 1rem;
  }
  .lesson-btn-container .filter-btn {
    font-size: 1.1rem;
  }
  .lesson-btn-container {
    margin: 1rem 0;
  }
  .lesson .title {
    margin-top: 1.5rem;
  }
}
