@media (max-width: 1600px) {
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 1200px) {
  .card-img {
    height: 120px;
    width: 120px;
  }

  .card-content {
    gap: 1rem;
  }
  .articles {
    margin: 6rem 2rem 2rem 2rem;
  }
}

/**************************/
/* for nav menu */
/**************************/

@media (max-width: 1000px) {
  nav {
    flex-direction: row-reverse;
  }
  .hamburger-menu,
  .menu-overlay {
    display: block;
  }
  .menu-overlay {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    transition: 0.2s;
    transform: translateX(30%);
    visibility: hidden;
    top: 0;
    z-index: 2;
  }
  .hamburger-menu {
    background: repeating-linear-gradient(
      0deg,
      transparent 0,
      transparent 0.4rem,
      var(--color-primary-light) 0.4rem,
      var(--color-primary-light) 0.5rem
    );
    cursor: pointer;
    display: inline-block;
    height: 1.5rem;
    width: 2rem;
  }
  .main-nav-holder {
    background: white;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    width: 18rem;
    z-index: 3;
  }
  .main-nav {
    bottom: 0;
    display: block;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: -1.5rem;
    top: 0;
  }
  .main-nav li {
    border: none;
    border-bottom: 0.1rem solid var(--color-gray);
    margin: 0;
  }
  .main-nav li a,
  .main-nav > li.has-submenu > label {
    padding-right: 3rem;
  }

  .main-nav > li.close-nav {
    display: block;
    text-align: right;
  }
  .main-nav > li.close-nav > label {
    cursor: pointer;
    display: block;
    height: 4rem;
    position: relative;
  }
  .main-nav > li.close-nav > label::before,
  .main-nav > li.close-nav > label::after {
    background: var(--color-primary-light);
    content: "";
    height: 1.8rem;
    left: 50%;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);
    width: 0.2rem;
    transition: all 0.3s;
  }
  .main-nav > li.close-nav > label::before {
    transform: rotate(-45deg);
  }
  .main-nav > li.close-nav > label::after {
    transform: rotate(45deg);
  }
  .main-nav > li.close-nav > label:hover::before,
  .main-nav > li.close-nav > label:hover::after {
    background: var(--color-primary);
  }
  .main-nav > li.close-nav > label:hover::after {
    transform: rotate(-45deg);
  }
  .main-nav > li.close-nav > label:hover::before {
    transform: rotate(45deg);
  }
  .submenu li::after {
    display: none;
  }
  .check-toggle:checked ~ .main-nav-holder {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  .check-toggle:checked ~ .menu-overlay {
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  .check-toggle:checked ~ .submenu {
    height: auto;
  }
  .submenu {
    display: block;
    height: 0;
    padding: 0 0 0 1rem;
    position: static;
  }
  .submenu {
    box-shadow: none;
  }
  .menu-caret {
    right: 2.4rem;
  }

  .check-toggle:checked ~ .menu-caret {
    transform: rotate(90deg);
    margin: -4.4rem -0.3rem 0 1.2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .card {
    height: 200px;
  }

  .card-content-title {
    font-size: 1.1rem;
  }

  .swiper-slide-gallery img {
    width: 50%;
  }
  .footer .nav-logo img {
    height: 2.5rem;
  }
  .links {
    /* display: block; */
    overflow: auto;
    justify-content: flex-start;
  }
}
@media (max-width: 860px) {
  .links .links-icon {
    display: block;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 704px) {
  .loader img {
    width: 60%;
  }
  .hero-content img {
    width: 90%;
  }

  .title-back::before {
    width: 95%;
  }

  .hero-content p {
    font-size: 1rem;
  }

  /* .social .bi {
    font-size: 1.1rem;
    width: 25px;
    height: 25px;
  } 
   */
  .nav-logo img {
    height: 2.5rem;
  }

  section {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
  }
  .link {
    min-width: 120px;
    padding: 1.2rem 1rem 0 1rem;
  }

  .link .bi {
    font-size: 2.5rem;
  }

  .link p {
    height: 70px;
  }
  .new-lessons .card,
  .new-lectures .card {
    height: 250px;
  }

  .card-content-info p {
    font-size: 0.8rem;
  }
  .articles {
    margin: 5rem 2rem 2rem 2rem;
  }
  .articles-items {
    flex-direction: column;
  }
  .articles-item {
    width: 100%;
  }

  .articles-item:first-child {
    border-left: solid 1px transparent;
    padding-left: 0;
    border-bottom: solid 1px var(--color-primary);
    padding-bottom: 1.5rem;
  }
  .articles-back {
    height: 115%;
  }
  .swiper-slide-gallery img {
    width: 70%;
  }
  .live-content-btns {
    flex-direction: column;
    gap: 2rem;
  }
  .footer {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 2rem 0;
  }
  .footer .nav-logo img {
    height: 3rem;
  }
}
/**************************/
/* BELOW 540  */
/**************************/
@media (max-width: 540px) {
}
/**************************/
/* BELOW 470px  */
/**************************/
@media (max-width: 470px) {
  .articles h1,
  .title {
    font-size: 1.3rem;
  }
  .lessons .title::before {
    width: 6rem;
  }
  .new-lessons .title::before {
    width: 9rem;
  }
  .lectures .title::before {
    width: 8rem;
  }
  .new-lectures .title::before {
    width: 11rem;
  }
  .gallery .title::before {
    width: 17rem;
  }
  .articles::before {
    width: 83%;
    top: -13px;
    transform: rotate(170deg);
  }
  .articles h1 {
    margin-bottom: 1.5rem;
  }
  .articles-back {
    height: 110%;
  }
  section {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
  }

  .card-img {
    height: 100px;
    width: 100px;
  }

  .card-content {
    /* justify-content: flex-start; */
    align-items: flex-start;
  }

  /* .card-content-bottom {
    flex-direction: column;
  } */

  .new-lessons .card-content-info {
    flex-direction: row;
  }

  .card-content-bottom {
    align-items: flex-start;
  }

  .swiper-button-next::before,
  .swiper-button-next::after,
  .swiper-button-prev::before,
  .swiper-button-prev::after {
    font-size: 1rem;
  }

  .slide-content,
  .slide-content-new-lessons,
  .slide-content-lectures,
  .slide-content-new-lectures,
  .slide-content-speech {
    margin: 0 1.5rem;
    padding: 0 0 2rem 0;
  }

  .slide-content,
  .slide-content-new-lessons,
  .slide-content-new-lectures {
    overflow: visible;
  }
  .lectures,
  .lessons,
  .new-lessons,
  .new-lectures {
    padding: 2rem 0;
  }
  .articles {
    margin: 4rem 1rem 2rem 1rem;
  }
  .swiper-slide-gallery img {
    width: 80%;
  }

  .live-content-btns {
    gap: 2rem;
  }
  .go-all {
    margin-left: 2rem;
  }
  .live-content-btns .go-all {
    margin-left: 0rem;
  }
  .articles .go-all {
    /* align-self: flex-end; */
    margin: 2rem auto 0 auto;
  }
}
