@media (max-width: 1600px) {
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 1200px) {
  .card-img {
    height: 120px;
    width: 120px;
  }

  .card-content {
    gap: 1rem;
  }
  .articles {
    margin: 6rem 2rem 2rem 2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .nav-list {
    overflow: hidden;
    position: absolute;
    top: 47px;
    left: 0;
    width: 300px;
    height: 0;

    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    background: var(--color-white);
    transition: all 0.3s;
  }

  .nav-list.active {
    height: 420px;
  }

  .nav-list.active ul {
    opacity: 1;
  }

  .nav-list.active ul li {
    width: 100%;
    padding-bottom: 1.2rem;
    border-bottom: solid 1px var(--color-primary-light);
  }

  .nav-list.active ul li:hover a {
    box-shadow: inset 0 0 0 0 var(--color-primary-light);
    color: var(--color-primary-light);

    padding-right: 2rem;
  }

  .nav-list ul {
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.6rem;
    opacity: 0;
  }

  .nav-button {
    display: block;
  }

  .card {
    height: 200px;
  }

  .card-content-title {
    font-size: 1.1rem;
  }

  .swiper-slide-gallery img {
    width: 50%;
  }
  .footer .nav-logo img {
    height: 2.5rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 704px) {
  .loader img {
    width: 60%;
  }
  .hero-content img {
    width: 90%;
  }

  .title-back::before {
    width: 95%;
  }

  .hero-content p {
    font-size: 1rem;
  }

  /* .social .bi {
    font-size: 1.1rem;
    width: 25px;
    height: 25px;
  } 
   */
  .nav-logo img {
    height: 2.5rem;
  }

  section {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
  }
  .link {
    min-width: 120px;
    padding: 1.2rem 1rem 0 1rem;
  }

  .link .bi {
    font-size: 2.5rem;
  }

  .link p {
    height: 70px;
  }
  .new-lessons .card,
  .new-lectures .card {
    height: 250px;
  }

  .card-content-info p {
    font-size: 0.8rem;
  }
  .articles {
    margin: 5rem 2rem 2rem 2rem;
  }
  .articles-items {
    flex-direction: column;
  }

  .articles-item:first-child {
    border-left: solid 1px transparent;
    padding-left: 0;
    border-bottom: solid 1px var(--color-primary);
    padding-bottom: 1.5rem;
  }
  .articles-back {
    height: 115%;
  }
  .swiper-slide-gallery img {
    width: 70%;
  }
  .live-content-btns {
    flex-direction: column;
    gap: 2rem;
  }
  .footer {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 2rem 0;
  }
  .footer .nav-logo img {
    height: 3rem;
  }
}
/**************************/
/* BELOW 540  */
/**************************/
@media (max-width: 540px) {
}
/**************************/
/* BELOW 470px  */
/**************************/
@media (max-width: 470px) {
  .articles h1,
  .title {
    font-size: 1.3rem;
  }
  .lessons .title::before {
    width: 6rem;
  }
  .new-lessons .title::before {
    width: 9rem;
  }
  .lectures .title::before {
    width: 8rem;
  }
  .new-lectures .title::before {
    width: 11rem;
  }
  .gallery .title::before {
    width: 17rem;
  }
  .articles::before {
    width: 83%;
    top: -13px;
    transform: rotate(170deg);
  }
  .articles h1 {
    margin-bottom: 1.5rem;
  }
  .articles-back {
    height: 110%;
  }
  section {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
  }

  .card-img {
    height: 100px;
    width: 100px;
  }

  .card-content {
    /* justify-content: flex-start; */
    align-items: flex-start;
  }

  /* .card-content-bottom {
    flex-direction: column;
  } */

  .new-lessons .card-content-info {
    flex-direction: row;
  }

  .card-content-bottom {
    align-items: flex-start;
  }

  .swiper-button-next::before,
  .swiper-button-next::after,
  .swiper-button-prev::before,
  .swiper-button-prev::after {
    font-size: 1rem;
  }

  .slide-content,
  .slide-content-new-lessons,
  .slide-content-lectures,
  .slide-content-new-lectures,
  .slide-content-speech {
    margin: 0 1.5rem;
    padding: 0 0 2rem 0;
  }

  .slide-content,
  .slide-content-new-lessons,
  .slide-content-new-lectures {
    overflow: visible;
  }
  .lectures,
  .lessons,
  .new-lessons,
  .new-lectures {
    padding: 2rem 0;
  }
  .articles {
    margin: 4rem 1rem 2rem 1rem;
  }
  .swiper-slide-gallery img {
    width: 80%;
  }

  .live-content-btns {
    gap: 2rem;
  }
  .go-all {
    margin-left: 2rem;
  }
  .live-content-btns .go-all {
    margin-left: 0rem;
  }
  .articles .go-all {
    /* align-self: flex-end; */
    margin: 2rem auto 0 auto;
  }
}
