@media (max-width: 1600px) {
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 1200px) {
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .nav-list {
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    width: 300px;
    height: 0;

    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    background: var(--color-white);
    transition: all 0.3s;
  }
  .nav-list.active {
    height: 65vh;
  }
  .nav-list.active ul {
    opacity: 1;
  }
  .nav-list ul {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    opacity: 0;
  }

  .nav-button {
    display: block !important;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
}
/**************************/
/* BELOW 400px  */
/**************************/
@media (max-width: 430px) {
}
