@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;900&display=swap");
:root {
  --color-primary: #383027;
  --color-primary-light: #6c5a4d;
  --color-secondary: #a2877d;
  --color-secondary-light: #d0c0b4;
  --color-secondary-thin: #beb5ad;
  --color-gray: #e7eaef;
  --color-gray-dark: #959596;
  --color-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;

  /* text-align: center; */
  /* direction: rtl; */
}

body {
  font-family: "Alexandria", sans-serif;
  direction: rtl;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* disable the highlight */
}

/* to prevent blue background form moblile */
a:focus {
  outline: none !important;
}

section {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
}

section h1 {
  font-size: 2.5rem;
  /* text-shadow: 2px 2px var(--color-secondary); */
  margin-bottom: 3rem;
}

ul li {
  list-style: none;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/
.flex,
.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.title {
  position: relative;
  color: var(--color-primary);
  font-size: 1.9rem;
}

.title::before {
  content: "";
  width: 9rem;
  height: 20px;
  background: var(--color-secondary-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

button {
  display: inline-block;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.4s;
}

.go-all {
  background: var(--color-primary);
  box-shadow: inset 0 0 0 0 var(--color-primary-light);
  color: var(--color-white);
  transition: all 0.3s;
  gap: 5px;
  width: 150px;
  margin: 1rem auto 0 0;
  padding: 0.5rem 0;
}

.go-all:hover {
  background: var(--color-primary);
  box-shadow: inset 0 300px 0 0 var(--color-primary-light);
}

.go-all-icon {
  font-size: 1.2rem;
  -webkit-animation: shake-horizontal 10s linear infinite both;
  animation: shake-horizontal 10s linear infinite both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
/**************************/
/*  srcllbar */
/**************************/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-secondary-light);
  border: solid 1px var(--color-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
/**************************/
/*  loader */
/**************************/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-white);
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 999999;
}
.loader img {
  width: 40%;
  animation: puff-in-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
}
@keyframes puff-in-center {
  0% {
    transform: scale(1.2);
    filter: drop-shadow(5px 5px 8px var(--color-secondary));
    /* opacity: 0; */
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(5px 5px 1px var(--color-secondary));
    /* opacity: 1; */
  }
}

/* .loader::after {
  content: "";
  width: 60%;
  height: 10px;
  border-bottom: 2px solid var(--color-primary);

  animation: loading ease 0.7s infinite;
} */
/* @keyframes loading {
  from {
    width: 60%;
  }
  to {
    width: 10%;
  }
} */

/**************************/
/*  for scroll animation */
/**************************/
.scroll-right {
  transform: translateX(400%);
  transition: all 0.4s ease;
}
.scroll-left {
  transform: translateX(-400%);
  transition: all 0.4s ease;
}
.scroll-right.show,
.scroll-left.show {
  transform: translateX(0);
}

/**************************/
/*  nav */
/**************************/
.nav-logo img {
  height: 3rem;

  margin-top: 5px;
}
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  background: var(--color-white);
}
.main-nav-holder {
  transition: 0.2s;
}
.main-nav {
  display: flex;
}
.main-nav > li {
  position: relative;
}

.main-nav > li > a,
.main-nav > li.has-submenu > label,
.submenu > li > a {
  display: block;
  color: var(--color-primary-light);
  font-size: 1rem;
  font-weight: 600;
  padding: 1.2rem 0.8rem;
  box-shadow: inset 0 0 0 0 var(--color-primary-light);
  transition: all 0.6s;
}
/* .main-nav > li:hover { */
.main-nav > li:hover > a,
.main-nav li.has-submenu label:hover {
  box-shadow: inset 0 300px 0 0 var(--color-primary-light);
  color: var(--color-white);
}

.main-nav > li.has-submenu > label {
  cursor: pointer;
  /* padding: 0.8rem 2.8rem 0.8rem 1.5rem; */
  padding-right: 2rem;
  position: relative;
}

.main-nav > li.close-nav {
  display: none;
}
.main-nav > li.active > a,
.main-nav > li.active > a:link,
.main-nav > li.active > a:visited,
.main-nav > li.active > label {
  background: var(--color-primary-light);
  color: var(--color-white);
}
.menu-caret {
  border-bottom: 0.4rem solid transparent;
  border-top: 0.4rem solid transparent;
  border-left: 0.4rem solid var(--color-secondary);
  display: inline-block;
  line-height: 0;
  margin: 0 -0.3rem 0 1.2rem;
  position: absolute;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}
.submenu {
  display: flex;
  background: var(--color-white);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  /* padding: 1rem; */
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  visibility: hidden;
  transform: translateY(-5rem);
  white-space: nowrap;
  z-index: 1;
}
.submenu > li {
  position: relative;
}

.submenu > li {
  box-shadow: inset 0 0 0 0 var(--color-primary-light);
  transition: all 0.6s;
  padding: 0.3rem;
  /* box-shadow: inset 0 0 0 0 var(--color-primary-light); */
}
.submenu > li:hover {
  box-shadow: inset 0 300px 0 0 var(--color-primary-light);
  color: var(--color-white);
}
.submenu > li:hover > a {
  color: var(--color-white);
}

.check-toggle {
  display: none;
}
.check-toggle:checked ~ label {
  background: var(--color-gray);
}
.check-toggle:checked ~ .menu-caret {
  transform: rotate(90deg);
  margin: -0.3rem -0.3rem 0 1.2rem;
}
.check-toggle:checked ~ .submenu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.hamburger-menu,
.menu-overlay {
  display: none;
}
/**************************/
/*  hero */
/**************************/

.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  height: 90vh;
}

.hero-background {
  background-image: url(/images/hero-section2.jpg);
  background-color: var(--color-primary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(4px);
}

.hero-content {
  gap: 2rem;
}

.hero-content img {
  width: 70%;
}

.title-back {
  position: relative;
}

.title-back::before {
  content: "";
  width: 75%;
  height: 30px;
  background: var(--color-secondary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-content p {
  color: var(--color-white);
  font-size: 1.3rem;
  max-width: 600px;
  font-weight: 600;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.social {
  gap: 1rem;
  /* margin-top: 1rem; */
}

.social .bi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  color: var(--color-primary);
  background: var(--color-white);
  border-radius: 50%;
  transition: all 0.3s;
}

.social .bi:hover {
  color: var(--color-white);
  background: var(--color-primary);
}

/**************************/
/*  links */
/**************************/
.links {
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  background: var(--color-primary-light);
  overflow: auto;
  display: flex;
}
.links::-webkit-scrollbar {
  height: 10px;
}

.link {
  gap: 2rem;
  padding: 1.5rem 1rem;
  min-width: 20%;
  border: solid 1px transparent;
}

.link .bi {
  font-size: 3rem;
}

.link p {
  font-size: 1.2rem;
  text-align: center;
  height: 40px;

  /* overflow-wrap: break-word; */
}

.link:nth-child(odd) {
  box-shadow: inset 0 0 0 0 var(--color-primary);
  background: var(--color-primary);
  color: var(--color-secondary-light);
  transition: all 0.5s;
}

.link:nth-child(even) {
  background: var(--color-secondary-light);
  box-shadow: inset 0 0 0 0 var(--color-secondary-light);
  color: var(--color-primary);
  transition: all 0.5s;
}

.link:hover {
  /* background: var(--color-white); */
  color: var(--color-primary);
  border: solid 1px var(--color-primary);
  box-shadow: inset 0 300px 0 0 var(--color-white);
}

/**************************/
/*  lessons */
/**************************/

/* for any card in the page */
.card {
  gap: 1.3rem;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 2rem 1rem;
  max-width: 500px;
  height: 200px;
}

.card-img {
  height: 150px;
  width: 150px;
  object-fit: fill;
}

.card-content {
  gap: 2rem;
}

.card-content-title {
  font-size: 1.3rem;
  color: var(--color-primary);
  flex: 1;
}

.card-content-info {
  color: var(--color-primary);
  gap: 1rem;
}

.card-content-info p {
  background: var(--color-secondary-light);
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.card-content .social {
  margin-top: 0;
  gap: 5px;
}

.card-content .social .bi {
  font-size: 1.2rem;
  width: 28px;
  height: 28px;
  color: var(--color-white);
  background: var(--color-primary);
}

.card-content .social .bi:hover {
  background: var(--color-secondary-light);
  color: var(--color-primary);
}

.slide-container {
  max-width: 1200px;
  width: 100%;
  padding: 2rem 0;
  /* background: red; */
}

.slide-content,
.slide-content-new-lessons,
.slide-content-lectures,
.slide-content-new-lectures,
.slide-content-speech {
  margin: 0 2rem;
  padding: 0 1rem 2rem 1rem;
  overflow: hidden;

  /* background: green; */
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-primary);
  transition: all 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--color-secondary);
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: var(--color-primary-light);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

/**************************/
/*  new lessons */
/**************************/
.new-lessons {
  padding-top: 0;
}

.new-lessons .title::before {
  width: 14rem;
}

.card-content h5 {
  text-decoration: underline;
  color: var(--color-primary-light);
}

audio {
  width: 100%;
  flex: 1;
}

audio::-webkit-media-controls-panel {
  background-color: var(--color-secondary);
}

.new-lessons .card {
  align-items: flex-start;
  height: 300px;
}

.card-content-bottom {
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  flex: 1;
}

.swiper-pagination-new-lessons,
.swiper-pagination-lectures,
.swiper-pagination-new-lectures,
.swiper-pagination-speech {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/**************************/
/* Lectures */
/**************************/
.lectures {
  background: var(--color-secondary-light);
}

.lectures .title::before {
  width: 12rem;
  background: var(--color-white);
}

.lectures .title {
  z-index: 1;
}

.lectures .card {
  height: 100%;
  background: var(--color-white);
  border-radius: 8px;
  /* width: 200px; */
  align-items: center;
}

.lectures iframe {
  width: 100%;
}

.lectures .card-content-info {
  justify-content: space-between;
}

.lectures .card-content-info p {
  background: var(--color-primary-light);
  color: var(--color-white);
}

.lectures .social .bi {
  background: var(--color-secondary);
  color: var(--color-white);
  transition: all 0.3s;
}

.lectures .swiper-button-next:hover,
.lectures .swiper-button-prev:hover {
  color: var(--color-white);
}

/**************************/
/* new Lectures */
/**************************/
.new-lectures .title::before {
  width: 17rem;
}

.new-lectures .card {
  height: 300px;
}

/**************************/
/* speech */
/**************************/
.speech {
  background: var(--color-gray);
  margin-bottom: 0;
}

.speech .social .bi {
  background: var(--color-gray-dark);
  color: var(--color-white);
  transition: all 0.3s;
}
.speech .social .bi:hover {
  color: var(--color-white);
  background: var(--color-primary);
}

.lectures .swiper-button-next:hover,
.lectures .swiper-button-prev:hover {
  color: var(--color-gray-dark);
}
/**************************/
/* articles */
/**************************/
/* .articles {
  color: var(--color-primary);
  padding-top: 100px;
  padding-bottom: 0;
  background: var(--color-primary);
} */
/* z-index: -3; */

.articles {
  max-width: 1200px;
  position: relative;
  background: url(/images/articles-bg.jpg) #eaeaea;
  padding: 1rem 2rem 0 2rem;
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
  margin: 7rem auto 2rem auto;
}
.articles-back {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-primary);
  width: 5000px;
  height: 500px;
  z-index: -3;
}
.articles::before {
  content: "";
  width: 90%;
  height: 100px;
  background: url(/images/articles-bg.jpg) #eaeaea;
  position: absolute;
  top: -24px;
  right: 9%;
  z-index: -2;
  transform: rotate(176deg);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
}

.articles::after {
  content: "";
  width: 94%;
  height: 127px;
  background: url(/images/articles-bg.jpg) #eaeaea;
  position: absolute;
  top: -8px;
  right: 4%;
  z-index: -1;
  transform: rotate(176deg);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
}
.articles h1 {
  text-align: center;
  width: 95%;
  padding: 1rem 0;
  border-top: solid 1px var(--color-primary);
  border-bottom: solid 1px var(--color-primary);
  font-size: 1.9rem;
  margin: 0 auto;
  color: var(--color-primary);
}

.articles-items {
  gap: 1rem;
  margin: 2rem auto;
}

.articles-item {
  gap: 1.5rem;
  width: 600px;
  min-height: 200px;
}
.articles-item .card-content-info {
  flex: 1;
}
.articles-item h4 {
  flex: 2;
}
.card-content-article {
  flex: 2;
}
.articles-item .card-content-info p {
  background: var(--color-secondary);
  color: var(--color-white);
}

.articles-items {
  text-align: center;
}

.articles .go-all {
  margin-top: 2rem;
}

.card-content-article {
  max-width: 500px;
}

.articles-item:first-child {
  border-left: solid 1px var(--color-primary);
  padding-left: 1rem;
}

/**************************/
/* gallery */
/**************************/
.gallery .title::before {
  width: 25rem;
}

.swiper-gallery {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide-gallery {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper-gallery {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper-gallery .swiper-slide-gallery {
  width: 25%;
  height: 100%;
  opacity: 0.6;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide-gallery img {
  margin: 0 auto;
  display: block;
  /* max-width: 600px; */
  width: 25%;
  /* height: 100%; */
  object-fit: cover;
}

.gallery-button {
  /* background: var(--color-primary-light); */
  color: var(--color-primary);
  /* padding: 8px; */
  border-radius: 4px;
}

/**************************/
/* live */
/**************************/
.live {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  padding: 5rem 1rem;
}

.live-background {
  background-image: url(/images/live.jpg);
  background-color: var(--color-primary);
  background-size: cover;
  background-repeat: no-repeat;

  /* background-position: bottom; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(4px);
}

.live-content .title::before {
  width: 13rem;
  background: var(--color-secondary);
}

.live-content .title {
  margin-bottom: 4rem;
  color: var(--color-white);
}

.live-content-btns {
  justify-content: space-between;
  gap: 6rem;

  padding-bottom: 2rem;
}
.live .go-all {
  gap: 1rem;
  width: 300px;
}
.live .go-all .bi {
  flex: 1;
}
.live .go-all p {
  flex: 4;
  padding-right: 2rem;
  text-align: center;
}
/**************************/
/* footer */
/**************************/
.footer {
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  background: var(--color-white);
}
.footer .social {
  margin-top: 0;
}
.footer .social .bi {
  background: var(--color-secondary);
  color: var(--color-white);
}
.footer .social .bi:hover {
  color: var(--color-secondary);
  background: var(--color-white);
}
.footer h4 {
  color: var(--color-primary);
}
